.box{  
    position:absolute; 
    height: 16%; 
    width: 45%;
    left: 27%;
    top: 0;
    background-color: grey;
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    color: #fff;
    opacity: .20;
    z-index: -1;
  } 


body
{
    margin: o;
    padding: 0;
    background-color:  #a2a8d3;
}
.nav ul
{
    list-style: none;

    padding: 0;
     margin: 0;
    text-align: center;
    z-index: 99;
}
.nav li
{
display: inline-block;
text-align: center;
}

.nav a
{
    text-decoration: none;
    text-align: center;
    color: darkblue;
    width: 100;
    display: inline;
    padding: 25px;
    font-size: 15px;
    z-index: 99;
}

.nav a:hover
{
    background-color: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

#searchbar {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
}

.div{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.button
{
    padding: 0;
    border: none;
    background: none;
}
